<div class="register-container">
  <app-card>
    <h2 card-header>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-input
        label="Username"
        formControlName="username"
        placeholder="Enter username"
      ></app-input>
      <app-input
        label="Password"
        type="password"
        formControlName="password"
        placeholder="Enter password"
      ></app-input>
      <app-input
        label="Confirm Password"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm password"
      ></app-input>
      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }
      <input type="submit"  [disabled]="registerForm.invalid" value="Register">
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </app-card>
</div>
