<div class="login-container">
  <app-card>
    <h2 card-header>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input
        label="Username"
        formControlName="username"
        placeholder="Enter username"
      ></app-input>
      <app-input
        label="Password"
        type="password"
        formControlName="password"
        placeholder="Enter password"
      ></app-input>
      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }
      <input type="submit"  [disabled]="loginForm.invalid" value="Login">
    </form>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </app-card>
</div>
